## Data Manipulation with Pandas

### The Pandas Series Object

A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [57]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as generalized NumPy array

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data['b']

0.5

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
               index=[2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [14]:
data[5]

0.5

### Series as specialized dictionary

In [31]:
population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [32]:
population['California']

38332521

In [33]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series objects

In [45]:
#pd.Series(data, index=index)

In [46]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [36]:
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [37]:
pd.Series({2:'a', 1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [38]:
pd.Series({2:'a', 1:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object

### The Pandas DataFrame Object

The next fundamental structure in Pandas is the DataFrame. Like the Series object
discussed in the previous section, the DataFrame can be thought of either as a gener‐
alization of a NumPy array, or as a specialization of a Python dictionary. We’ll now
take a look at each of these perspectives

### DataFrame as a generalized NumPy array

In [39]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York':141297, 'Florida': 170312, 'Illinois': 149995}

In [40]:
area = pd.Series(area_dict)

In [41]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [42]:
states = pd.DataFrame({'population': population,
                      'area':area})

In [43]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [47]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [48]:
states.columns

Index(['population', 'area'], dtype='object')

### DataFrame as specialized dictionary

In [49]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

### Constructing DataFrame objects

A Pandas DataFrame can be constructed in a variety of ways. Here we’ll give several
examples.

In [50]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [51]:
data = [{'a': i, 'b':2 * i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [52]:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [53]:
pd.DataFrame({'population': population, 
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [58]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo', 'bar'],
            index=['a','b','c'])

        foo       bar
a  0.754288  0.687384
b  0.122878  0.207320
c  0.928932  0.879122

In [59]:
A = np.zeros(3, dtype=[('A', 'i8'),('B', 'f8')])

In [60]:
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [61]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### The Pandas Index Object

In [62]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [63]:
ind[1]

3

In [64]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [65]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [67]:
# ind[1] = 0

### Index as ordered set

In [68]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [69]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [70]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [71]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

### Data Indexing and Selection

### Data Selection in Series

#### Series as dictionary

In [72]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a','b','c','d'])

data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [73]:
data['b']

0.5

In [74]:
'a' in data

True

In [75]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [76]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [77]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series as one-dimensional array

In [78]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [80]:
# # slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [81]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [82]:
# fancy indexing
data[['a','e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc, and ix

In [83]:
data = pd.Series(['a','b','c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [84]:
# explicit index when indexing
data[1]

'a'

In [85]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object