### List

In [51]:
books = ['Wiedzmin', 'Gra o tron', 'Nowicjuszka']
numbers = [42, 123]
empty = []
print(books, numbers, empty)

['Wiedzmin', 'Gra o tron', 'Nowicjuszka'] [42, 123] []

In [21]:
books[0]

'Wiedzmin'

In [22]:
print(numbers)
numbers[1] = 5
numbers

[42, 123]

[42, 5]

In [23]:
'Wiedzmin' in books

True

In [24]:
'Krótka Historia' in books

False

In [25]:
for books in books:
    print(books)

Wiedzmin
Gra o tron
Nowicjuszka

In [27]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print(numbers)

[168, 10]
[168, 20]

In [28]:
#A for loop over an empty list never runs the body:
for x in []:
    print('This never happens.')

In [31]:
#Although a list can contain another list, the nested list still counts as a single element. 
#The length of this list is four:

list1 = ['a','b','c']
list2 = [1, 2, list1, 3]
print(list2)

[1, 2, ['a', 'b', 'c'], 3]

### List Operations

In [32]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [33]:
[0] * 4

[0, 0, 0, 0]

In [34]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [39]:
t[:4]

['a', 'b', 'c', 'd']

In [41]:
t[3:]

['d', 'e', 'f']

In [42]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [43]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['y', 'z']
t

['a', 'y', 'z', 'd', 'e', 'f']

### List methods

In [44]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [45]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

In [47]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [48]:
t = [1, 2, 3]
sum(t)

6

In [58]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [59]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

In [64]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
x

#pop modifies the list and returns the element that was removed. 
#If you don’t provide anindex, it deletes and returns the last element.

['a', 'c']

'b'

In [61]:
t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

In [65]:
t = ['a', 'b', 'c']
t.remove('b')
t
#If you know the element you want to remove (but not the index), you can use remove:

['a', 'c']

In [66]:
#To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['a', 'f']

### Lists and strings

In [1]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']